{% extends '/templates/_layout.twig' %}

{% block body %}

    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="section-heading col-lg-12 text-center">
                    <h2 class="section-heading-upper">LOREM IPSUM DOLOR SIT AMET CONSECTETUR.</h2>
                    <h3 class="section-heading-lower">SERVICES</h3>
                </div>
            </div>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sector Seguros</h4>
                    <p class="text-muted">Tenemos una gran oferta de seguros, con nosotros encuentras lo que buscas al mejor precio. Trabajamos sin intermediarios con Segur Caixa Adeslas y Reale Seguros, a nuestro criterio son las mejores compañías aseguradoras, las más grande y más importantes del sector. Contamos con su confianza gracias a nuestra experiencia y nuestro buen hacer. Nuestros socios y colaboradores con más de 30 años en el mercado asegurador nos respaldan.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-sign fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sector Inmobiliario</h4>
                    <p class="text-muted">Encontramos espacios</br>
                        Gestionamos inmuebles y carteras</br>
                        Diseñamos y proyectos inmobiliarios</br>
                        Como invertir en activos inmobiliarios y como transformar con tecnología</br>
                        Conocemos el mercados, mediante el análisis en sitio y las  tendencias</br>
                        Contamos con buscadores de Inmuebles para encontrar espacios e función de vuestras necesidades.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asesoria Jurídica</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="page-section about-heading bg-light" id="about">
        <div class="container">
            <img alt="" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/images/about.jpg">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{translation.sectionItems.section2.subtitle}}</span>
                                <span class="section-heading-lower">{{translation.sectionItems.section2.title}}</span>
                            </h2>
                            <p class="text-muted">{{translation.sectionItems.section2.msgSection}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="section-heading col-lg-12 text-center">
                    <h2 class="section-heading-upper">LOREM IPSUM DOLOR SIT AMET CONSECTETUR.</h2>
                    <h3 class="section-heading-lower">Our Amazing Team</h3>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img alt="" class="mx-auto rounded-circle" src="/images/team/1.jpg">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img alt="" class="mx-auto rounded-circle" src="/images/team/2.jpg">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img alt="" class="mx-auto rounded-circle" src="/images/team/3.jpg">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="scl-btn scl-crcl shadow fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center text-muted">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="page-section bg-light" id="contact">
        <div class="container">
            <div class="row">
                <div class="section-heading col-lg-12 text-center">
                    <h2 class="section-heading-upper">Lorem ipsum dolor sit amet consectetur.Contact Us</h2>
                    <h3 class="section-heading-lower">Contact Us</h3>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your name." id="name" placeholder="Your Name *" required="required" type="text">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your email address." id="email" placeholder="Your Email *" required="required" type="email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your phone number." id="phone" placeholder="Your Phone *" required="required" type="tel">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" data-validation-required-message="Please enter a message." id="message" placeholder="Your Message *" required="required"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Login Modal -->
    <section
        class="at-login-form">
        <!-- MODAL LOGIN -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="loginModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div
                    class="modal-content">
                    <!-- MODAL HEADER -->
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- MODAL BODY -->
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmaillog" placeholder="{{translation._email}}">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPasswordpas" placeholder="{{translation._password}}">
                            </div>
                            <div class="form-group form-check">
                                <input class="form-check-input" id="Check1" type="checkbox">
                                <label class="form-check-label" for="exampleCheck1">{{translation._rememberMe}}</label>
                            </div>
                            <br>
                            <button class="btn btn-primary btn-block" type="submit">{{translation._login}}</button>
                        </form>
                        <br>
                        <div class="signup-or-separator">
                            <span class="h6 signup-or-separator--text">{{translation._loginWith}}</span>
                            <hr>
                        </div>
                        <div class="max-auto text-center clearfix mt-3">
                            <a href="/auth/facebook">
                                <span class="scl-btn scl-rnd shadow fab fa-facebook-f"></span>
                            </a>
                            <a href="/auth/google">
                                <span class="scl-btn scl-rnd shadow fab fa-google"></span>
                            </a>
                            <a href="/auth/twitter">
                                <span class="scl-btn scl-rnd shadow fab fa-twitter"></span>
                            </a>
                        </div>
                    </div>

                    <!-- MODAL FOOTER -->
                    <div class="modal-footer">
                        <div class="col-md-6">
                            <a class="float-left" data-dismiss="modal" data-target="#forgotPassword" data-toggle="modal" href="#">
                                {{translation._forgotPassword}}</a>
                        </div>
                        <div class="col-md-6">
                            <a class="float-right" data-dismiss="modal" data-target="#signup" data-toggle="modal" href="#">
                                {{translation._signup}}</a>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>
{% endblock %}
